			body {
				color: #FFFFFF;
				font-family:Roboto, Arial, sans-serif;
				font-size:13px;
				text-align:center;

				background-color: #ffffff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
			}

			a {

				color: #a06851;
			}
			#targetleft {
				color: rgba(250,250,250, 1.0);
				font-size: 2em;
				background-color: rgba(0,150,185,.3);
				border: solid 2px rgba(250,250,250,.5);
				font-family: Roboto, Arial, sans-serif;
				width: 25%;
				height: 40px;
				position: absolute;
				top:   0%;
				left: 0%;
				border-radius: 70px 500px 70px 500px;
				visibility: visible;
				padding: .2em;
				
				text-align: center;
			}
			#targetright {
				color: rgba(250,250,250, 1.0);
				font-size: 2em;
				background-color: rgba(0,150,185,.3);
				border: solid 2px rgba(250,250,250,.5);
				font-family: Roboto, Arial, sans-serif;
				width: 25%;
				height: 40px;
				position: absolute;
				top:   0%;
				right: 0%;
				border-radius: 500px 70px 500px 70px;
				visibility: visible;
				padding: .2em;
				
				text-align: center;
			}